/*global start*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
li {
  list-style: none;
}

a,
button {
  font-family: "Barlow", sans-serif;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #0C0B0B;
  font-family: "Noah", sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  font-family: "Lora", serif;
  text-transform: capitalize;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px;
    line-height: normal;
  }
}

h2 {
  font-size: 40px;
  line-height: 45px;
  font-weight: 500;
  font-family: "Lora", serif;
  position: relative;
  color: #ac8a63;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 28px;
    line-height: normal;
  }
}
h2::after {
  content: "";
  position: absolute;
  background-color: #ac8a63;
  height: 3px;
  width: 25%;
  bottom: -10px;
  left: 0;
}

h3 {
  font-size: 24px;
  color: #ac8a63;
  font-weight: 400;
  font-family: "Lora", serif;
}

h4 {
  font-size: 22px;
  line-height: normal;
  font-weight: 400;
  color: #ac8a63;
  font-family: "Lora", serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.6rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  font-family: "Noah", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  color: inherit;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/*global end*/
/*header start*/
header.site-header {
  background: transparent;
  font-size: 18px;
  padding: 14px 0;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s;
}

header.site-header.sticky {
  background: #0C0B0B;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.06);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding: 10px 0;
  position: fixed;
}

.site-header .site-nav ul li a.active {
  color: #ac8a63;
}

.site-logo img {
  width: 100%;
  max-width: 200px;
}

.site-nav a {
  padding: 8px 12px !important;
  display: inline-block;
  font-weight: 500;
  color: #fff;
}
.site-nav a:hover {
  color: #ac8a63;
}

.site-header {
  padding: 10px 0;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav ul {
  display: flex;
  align-items: center;
}

.closed-menu {
  display: none;
}

.menu-toggle {
  display: none !important;
}

/*header end*/
/*banner-css-start*/
section.homebanner.banner {
  position: relative;
  height: 450px;
  background-image: url(../images/homebanner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  z-index: 2;
}
section.homebanner.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

.bannertitle h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.toptext {
  padding: 30px 0;
}

/*banner-css-end*/
/*home-css-start*/
.beforego {
  padding: 30px 0;
}
.beforego h2 {
  color: #0C0B0B;
}
.beforego-content {
  background: #0C0B0B;
  padding: 20px;
  margin: 40px 0;
}
.beforego-content img {
  max-width: 50px;
  margin-bottom: 15px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(180deg) brightness(103%) contrast(101%);
}
.beforego-content li {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.beforego-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.beforego-content.new img {
  filter: none;
}

/*links-css-start*/
section.link {
  padding: 50px 0 0 0;
}

.link .row {
  row-gap: 40px;
}

.link h2 {
  margin-bottom: 40px;
  color: #0C0B0B;
}
.link-text {
  padding: 20px 20px 30px 20px;
  margin-bottom: 25px;
  background-color: rgba(193, 157, 96, 0.88) !important;
  border: 1px solid rgba(193, 157, 96, 0.6588235294);
  border-radius: 0;
  overflow: hidden;
  transition: 0.2s cubic-bezier(0.3, 0.58, 0.55, 1);
  position: relative;
  transition: 0.3s;
}
.link-text h4 {
  color: #0C0B0B;
  font-weight: 500;
}
.link-text:hover {
  transform: translateY(-20px);
}
.link-btn a {
  display: inline-block;
  height: auto;
  padding: 12px 25px;
  border: 1px solid #0C0B0B;
  border-radius: 0;
  background-color: black;
  -webkit-transition: border-color 400ms ease, color 400ms ease, background-color 400ms ease;
  transition: border-color 400ms ease, color 400ms ease, background-color 400ms ease;
  color: #fff;
  line-height: 20px;
  font-weight: 500 !important;
  text-align: center;
  text-transform: capitalize;
  font-size: 14px;
}
.link-btn a:hover {
  background: transparent;
  border: 1px solid #0C0B0B;
  color: #0C0B0B;
}
.link-picture {
  overflow: hidden;
}
.link-picture img {
  height: 450px;
  object-fit: cover;
  transition: 0.3s;
}
.link-picture img:hover {
  transform: scale(1.1);
  filter: brightness(100%);
}

/*links-css-end*/
/*home-css-end*/
/*hotels-css-start*/
section.hotelbanner.banner {
  background-image: url(../images/hotelbanner.webp);
  position: relative;
  height: 450px;
  z-index: 2;
}
section.hotelbanner.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

.hotelcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
.hotelcontent p {
  max-width: 70%;
}
.hotelpicture img {
  height: 350px;
  object-fit: cover;
}

.hotelmain {
  padding: 30px 0;
}
.hotelmain h2 {
  color: #0C0B0B;
  margin-bottom: 25px;
}

/*hotel-css-end*/
/*restaurent-css-start*/
section.restaurantsbanner.banner {
  background-image: url(../images/restaurentbanner.jpeg);
  position: relative;
  height: 450px;
  z-index: 2;
}
section.restaurantsbanner.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

/*restaurent-css-end*/
/*casino-css-start*/
section.casinosbanner.banner {
  background-image: url(../images/casinobanner.jpg);
  position: relative;
  height: 450px;
  z-index: 2;
}
section.casinosbanner.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

/*casino-css-end*/
/*footer-css-start*/
.footer {
  background-color: #0C0B0B;
  padding: 50px 0;
}
.footer-logo {
  max-width: 200px;
}
.footer-links a {
  color: #fff;
}
.footer-links a:hover {
  color: #ac8a63;
}
.footer-adresse p {
  color: #fff;
}
.footer-mails a {
  color: #fff;
}
.footer-mails {
  display: flex;
  flex-direction: column;
}

.mails-names {
  gap: 16px;
  display: flex;
  align-items: end;
}

.social-signals {
  margin-top: 25px;
}
.social-signals i {
  color: #ac8a63;
  border-radius: 30px;
  font-size: 25px;
  margin: 0 10px;
  border: 1px solid #ac8a63;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 36px;
}
.social-signals i:hover {
  color: #fff;
}

.footer_bottom {
  border-top: 1px solid #fff;
  padding: 10px;
  margin: 30px 0;
}
.footer_bottom p {
  text-align: center;
}
.footer_bottom p a {
  color: #fff;
}
.footer_bottom p a:hover {
  color: #ac8a63;
}

/*footer end*/
/*contact-css-start*/
.contact__section {
  position: relative;
  height: 450px;
  background-image: url(../images/contactbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact__section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

.contact__content span {
  color: #0C0B0B;
  font-size: 18px;
}

.about_us_content {
  background-color: #fff;
  margin: 30px 0;
  width: 50%;
}

.form-group {
  margin-bottom: 2rem;
}

.input-control {
  display: block;
  width: 100%;
  height: 4rem;
  border: 1px solid #0C0B0B;
  padding: 2rem 2rem;
  background: transparent;
  color: #0C0B0B;
}

textarea.input-control {
  resize: none;
  height: auto;
}

.form-group .submit-btn {
  background: transparent;
  border: 1px solid #0C0B0B;
  transition: all 0.2s linear;
  display: inline-block;
  padding: 0.8rem 4rem;
  color: #fff;
  text-transform: capitalize;
}
.form-group .submit-btn:hover {
  background-color: #0C0B0B;
}

.input-control:focus-visible {
  outline: none;
}

.form-group label {
  display: inline-block;
  padding-bottom: 5px;
  color: #ac8a63;
  transition: all 0.2s linear;
  text-transform: capitalize;
  font-weight: 600;
}

button.submit-btn {
  color: #0C0B0B !important;
}
button.submit-btn:hover {
  background-color: #ac8a63 !important;
  border-color: #ac8a63 !important;
  color: #fff !important;
}

.content-wrap h4 {
  color: #ac8a63;
}

section.contacttext {
  padding: 30px 0;
}

/*contact-css-end*/
/*privacy-policy start*/
.privacy__section {
  position: relative;
  height: 450px;
  background-image: url(../images/privacybanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.privacy__section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

.privacy-policy {
  padding: 40px 0;
}
.privacy-policy .content-wrap li {
  font-size: 15px;
  font-family: "Noah", sans-serif;
}

.terms {
  padding: 40px 0;
}
.terms .content-wrap li {
  font-size: 15px;
  font-family: "Noah", sans-serif !important;
}

/*privacy-policy end*/
/*terms-conditon start*/
.terms__section {
  position: relative;
  height: 450px;
  background-image: url(../images/termsbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.terms__section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

/*terms-conditon-end/




/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
