@import './variables';
@import './mixins';

li {
    list-style: none;
}

a,
button {
    font-family: 'Barlow', sans-serif;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: $clr-black;
    font-family: "Noah", sans-serif;
}


h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: normal;
    color: $clr-white;
    font-family: "Lora", serif;
    text-transform: capitalize;

    @include mq(md) {
        font-size: 35px;
        line-height: normal;
    }
}

h2 {
    font-size: 40px;
    line-height: 45px;
    font-weight: 500;
    font-family: "Lora", serif;
    position: relative;
    color: $clr-mustard;

    &::after {
        content: "";
        position: absolute;
        background-color: #ac8a63;
        height: 3px;
        width: 10%;
        bottom: -10px;
        left: 0;
    }
}

h3 {
    font-size: 28px;
    color: $clr-mustard;
    font-weight: 400;
    font-family: "Lora", serif;
}


h4 {
    font-size: 22px;
    line-height: normal;
    font-weight: 400;
    color: $clr-mustard;
    font-family: "Lora", serif;
}